[submodule "pack/plugins/start/vim-solarized"]
	path = pack/plugins/start/vim-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/plugins/start/vim-latex"]
	path = pack/plugins/start/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
